# Visual Studio Reference: https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options
# Rider Reference: https://www.jetbrains.com/help/rider/EditorConfig_Index.html

# top-most EditorConfig file
root = true

[*]
indent_style = space

[*.{json,asmdef}]
indent_size = 2

[*.cs]
# Basic text
indent_size = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
charset = utf-8